.feedback-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 20px;
    background-color: antiquewhite;
    border: 2px solid rgb(13, 57, 232);
    border-radius: 5px;
}

.buttons-results-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.result {
    min-width: 70px;
    text-align: center;
    padding: 5px;
    font-size: 30px;
    color: rgb(6, 6, 97);
}

.button-like,
.button-dislike {
    width: 150px;
}

.reset-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    padding: 10px;
}